<nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgb(142, 142, 221);">

  <div class="navbar-logo">
    <img src="../assets/logo_airbus.png" alt="Logo" class="logo">
  </div>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/aircrafts">Avions</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Ajouter un avion</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Administration</a>
    </li>
  </ul>

  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/connexion"> Connexion</a>
    </li>
  </ul>
</nav>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

<router-outlet>Hello</router-outlet>
