<div class="container mt-5">
  <div class="row">
    <ng-container *ngIf="aircraft$">
      <div class="col-md-6 mb-4">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white d-flex">
            <h5 class="card-title mb-0">Détails de l'avion</h5>
            <button class="btn btn-outline-light btn-sm ms-auto" (click)="onBack()">
              <i class="bi bi-arrow-left"></i> Revenir aux avions
            </button>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Attribut</th>
                  <th>Valeur</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>ID</strong></td>
                  <td>{{ aircraft$.id }}</td>
                </tr>
                <tr>
                  <td><strong>Program</strong></td>
                  <td>{{ aircraft$.prog }}</td>
                </tr>
                <tr>
                  <td><strong>Design</strong></td>
                  <td>{{ aircraft$.design }}</td>
                </tr>
                <tr>
                  <td><strong>Development</strong></td>
                  <td>{{ aircraft$.development }}</td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-start mt-3 align-items-center">
              <button class="btn btn-primary btn-sm me-2" (click)="onValidateChanges(e)">Valider les changements</button>

              <div class="form-check form-switch me-2">
                <input type="checkbox" class="form-check-input" #e [checked]="aircraft$.development" id="devCheckbox">
                <label class="form-check-label" for="devCheckbox">Développement</label>
              </div>

              <div class="form-check form-switch">
                <input type="checkbox" [(ngModel)]="isCheckedDesigned" [checked]="aircraft$.design" class="form-check-input" id="designCheckbox">
                <label class="form-check-label" for="designCheckbox">Designed</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-header bg-info text-white">
          <h5 class="card-title mb-0">Pièces ajouter</h5>
        </div>
        <div class="card-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entity of entities$ | async">
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td> Number </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <ng-container class="mt-4" *ngIf="entities$ | async as entities;">
    <div class="card shadow-sm">
      <div class="card-header bg-info text-white">
        <h5 class="card-title mb-0">Liste des matériels</h5>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom</th>
              <th>Categorie</th>
              <th>Prix</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entity of entities">
              <td>{{ entity.id }}</td>
              <td>{{ entity.name }}</td>
              <td>{{ entity.categorie }}</td>
              <td>{{ entity.price }}</td>
              <td>
                <button class="btn btn-success btn-sm me-2">Ajouter</button>
                <button class="btn btn-danger btn-sm">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
